@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --text-grey: #717171;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'PT Sans', sans-serif;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
    display: block;
}

.main-body {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.sidebar {
    flex-shrink: 0;
    flex-basis: 300px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.main-content{
    flex-grow: 1;
    background-color: #141922;
    overflow: auto;
}

.footer-toolbar {
    background-color: #282828;
    flex-basis: ;
    display: flex;
}











/* ASIDE TOOLBAR*/


.main-toolbar {
    display: flex;
}

.toolbar-col {
    display: flex;
    flex-basis: 300px;
    align-items: center;
    
}

.toolbar-col.large {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: center;
}



/* TOOLBAR SONG */




.toolbar-i {
    width: 100%;
}

.main-toolbar .toolbar-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.toolbar-item {
    padding: 10px;
    width: 100%;
}

.song-action{
    align-items: center;
}

.song-img  {
    width: 60px;
    height: 60px;
}

.song-title,
.song-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-title span{
    padding: 0 1rem;
    display: block;
}

.song-author {
    color: var(--text-grey);
}

.song-action a{
    padding: 5px;
    font-size: 1.25rem;
    color: var(--text-grey);
}

.song-action a:hover {
    color: white;
}

/* PlAYER */

.toolbar-item.large {
    flex-basis: 50%;
}

.toolbar-item .song-player {
    flex-basis: calc(100% / 2);
}

.toolbar-item .player-input {
    text-align: center;
    padding-bottom: 10px;
    min-width: 205px;
}

.toolbar-item .player-input a {
    padding: 0 10px;
    font-size: 1.25rem;
    color: white;

}

.toolbar-item .player-input a:hover {
    color: var(--text-grey);
}

.progression-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 100%;
    background-color: var(--text-grey);
    display: inline-block;
    margin: 0 1rem;
    height: 5px;
    border-radius: 20px;
}

.bar-inside {
    background-color: white;
    width: 50%;
    height: 100%;
    display: block;
}

.bar-inside:hover::after {
    content: ' \229B';
}


/* VOLUME */


.toolbar-item .song-volume {
    display: flex;
    align-items: center;
}

.toolbar-item .song-volume a {
    padding: 0 1rem;
}

.toolbar-item .song-volume a:hover {
    color: var(--text-grey);
} 

